{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}

  {% for verbandId, ligen in mannschaftsliste  %}
      <h2>{{ verbaende[verbandId].name }}</h2>
      {% if verbaende[verbandId].logo is not empty %}
          {# TODO: geeignetes "include" für die <figure> nutzen #}
          <figure class="image_container float_above" style="margin-right:1em;" itemscope="" itemtype="https://schema.org/ImageObject" itemprop="associatedMedia">
              <a href="{{ verbaende[verbandId].logo }}" data-lightbox="lb1" itemprop="contentUrl" class="cboxElement">
                  <img src="{{ verbaende[verbandId]['logo'] }}" class="img-thumbnail" width="150px" alt="{{ verbaende[verbandId].name }}" itemprop="image">
              </a>
          </figure>
      {% endif %}

      {% for ligaId, mannschaften in ligen %}
          <h3>{{ ligenmapping[ligaId] }}</h3>
          <ul>
              {% for name in mannschaften %}
                  <li>{{ name|raw }}</li>
              {% endfor %}
          </ul>
      {% endfor %}
  {% endfor %}

{% endblock %}