{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <h1>{{ mannschaft_name }}</h1>
        </div>
    </div>

    {% if mannschaft_bilder is not empty %}
        <div class="row">
            {%  for mannschaft_bild in mannschaft_bilder %}
            <div class="col-sm-12 col-md-4">
                <figure class="image_container float_above" style="margin-right:1em;" itemscope="" itemtype="https://schema.org/ImageObject" itemprop="associatedMedia">
                    <a href="{{ mannschaft_bild  }}" data-lightbox="lb1" itemprop="contentUrl" class="cboxElement">
                        <img src="{{ mannschaft_bild }}" class="img-thumbnail" width="250px" alt="{{ mannschaft_name }}" itemprop="image">
                    </a>
                </figure>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if verbandsseite is not empty %}
        <div class="col-sm-12">
            <a target="_blank" href="{{ verbandsseite }}">Spielplan und Tabellen</a>
        </div>
    {% endif %}

    <div class="row">
        <div class="spielerliste col-md-6 col-xs-12">
            {{ spielerliste|raw }}
        </div>
    </div>

{% endblock %}