{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}

{% if listitems is not empty %}
  <table class="table table-hover table-condensed">
    <tbody>
    {% for listitem in listitems %}
    {% if listitem.member.anonymize == '1' %}
        {#  nicht ausgeben #}
    {% else %}
      <tr>
        <td>
            {{ listitem.member.lastname }}, {{ listitem.member.firstname }}
        </td>
        {% if showdetails %}
            <td>{{ listitem.spieler.tc ? '(TC)' : ''}}</td>
            <td>
                {% if  listitem.extra.avatar_path is not empty %}
                    <figure class="image_container float_above" style="margin-right:1em;" itemscope="" itemtype="https://schema.org/ImageObject" itemprop="associatedMedia">
                        <a href="{{ listitem.extra.avatar_path }}" data-lightbox="lb1" itemprop="contentUrl" class="cboxElement">
                            <img src="{{ listitem.extra.avatar_path }}" class="img-thumbnail" width="150px" alt="{{ listitem.member.lastname}}, {{ listitem.member.firstname }}" itemprop="image">
                        </a>
                    </figure>
                {% endif %}
            </td>
        {% endif %}
      </tr>
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% endif %}


{% endblock %}